*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#item {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
   width: 90%;
   margin: auto;
}

#item button {
   padding:10px;
   width: 30px;
   margin: auto;
}